
.cbox {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; /* Aligns text within .cbox horizontally */
}

.cbox .det {
    width: 240px;
    height: 80px;
    margin: 10px;
    background: #fff;
    cursor: pointer;
}

.cbox .det a {
    justify-content: space-around;
    width: 250px;
    padding: 28px;
    border-radius: 10px;
    border: 1px solid #FA4B37;
    font-size: 15px;
    color: #272529;
    font-family: cursive;
    text-decoration: none;
}

.cbox .det a:hover {
    background: linear-gradient(to right, #FA4B37, #DF2771);
    color: white;
}

.cbox .det a:hover img {
    filter: brightness(100);
}

.cbox img {
    width: 20px;
    margin-right: 20px;
}
.cbox {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; /* Aligns text within .cbox horizontally */
}

.cbox .det {
    width: 250px;
    height: 80px;
    margin: 10px;
    background: #fff;
    cursor: pointer;
}

.cbox .det a {
    justify-content: space-around;
    width: 250px;
    padding: 28px;
    border-radius: 10px;
    border: 1px solid #FA4B37;
    font-size: 15px;
    color: #272529;
    font-family: cursive;
    text-decoration: none;
}

.cbox .det a:hover {
    background: linear-gradient(to right, #FA4B37, #DF2771);
    color: white;
}

.cbox .det a:hover img {
    filter: brightness(100);
}

.cbox img {
    width: 20px;
    margin-right: 20px;
}
